ClientBus/Connected Services/ServiceReference1/bus2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceBus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceBus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCekBus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CekBus" nillable="true" type="tns:CekBus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCekBus" nillable="true" type="tns:ArrayOfCekBus" />
  <xs:complexType name="CekBus">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeskripsiSingkat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDBus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamaBus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CekBus" nillable="true" type="tns:CekBus" />
  <xs:complexType name="ArrayOfDetailBus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailBus" nillable="true" type="tns:DetailBus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailBus" nillable="true" type="tns:ArrayOfDetailBus" />
  <xs:complexType name="DetailBus">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeskripsiFull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDBus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kuota" type="xs:int" />
      <xs:element minOccurs="0" name="NamaBus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailBus" nillable="true" type="tns:DetailBus" />
  <xs:complexType name="ArrayOfPemesanan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pemesanan" nillable="true" type="tns:Pemesanan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPemesanan" nillable="true" type="tns:ArrayOfPemesanan" />
  <xs:complexType name="Pemesanan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPemesanan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JumlahPemesanan" type="xs:int" />
      <xs:element minOccurs="0" name="NamaCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoTelpon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pemesanan" nillable="true" type="tns:Pemesanan" />
  <xs:complexType name="ArrayOfDataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRegister" nillable="true" type="tns:DataRegister" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataRegister" nillable="true" type="tns:ArrayOfDataRegister" />
  <xs:complexType name="DataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRegister" nillable="true" type="tns:DataRegister" />
</xs:schema>